*{
  background: #000;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}



body{
    width: 90%;
  margin: 0 auto;

  /* text-decoration: line-through; */
  background:yellow;
}